{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div style="text-align: center; margin: 4rem auto; display: flex; justify-content: center;">
    {% if user.is_authenticated %}
        <h1>(미정)</h1>
    {% else %}
     <div style="height: auto; width: 35rem; display: flex; flex-direction: column;
                 background-color: #FFFFFF; border-radius: 1rem; padding: 2rem;">

        <div>
            <h1>Login</h1>
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" style="margin-left: auto; margin-right: auto;">
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
