{% extends 'base.html' %}
{% load static %}
{% block content %}
<meta name="csrf-token" content="{{ csrf_token }}">

<div style="display: flex; justify-content: center; margin-top :5rem;">

    <div style="height: 40rem; width: 40rem; background-color: #FFFFFF; border-radius: 1rem; margin: 1rem; border: 1px solid #1E6988;">
        <div style="display: flex; justify-content: center; margin : 2rem;">
            <h1>Drop here!</h1>
        </div>

        <div style="display: flex; justify-content: center; margin : 2rem;">
            <div id="drop-box" class="drop-box"
                 style=" margin: 5rem;
                         display: flex; justify-content: center;
                         height: 20rem; width: 20rem;
                         border: 3px dashed #196CA1; border-radius: 3rem;
                         align-items: center;
                         color: #196CA1;
                         font-size: 50pt;">
                +
            </div>
        </div>
    </div>

    <div style="min-height: 40rem; width: 40rem; background-color: #FFFFFF; border-radius: 1rem; margin: 1rem; display: flex; flex-direction: column; justify-content: space-between; border: 1px solid #1E6988;">

        <div style="display: flex; justify-content: center; margin-top: 2rem;">
            <h1>Upload Files</h1>
        </div>
        <div id="message-container"
             style="display: flex; flex-direction: column; justify-content: space-between; flex-grow: 1;">
            <div id="message" style="font-size: 16pt; margin: 1rem; padding: 20px;"></div>

             <!-- 버튼 컨테이너 -->
        <div style="display: flex; justify-content: center; gap: 10px; margin: 2rem;">
            <button id="removeDuplicatesBtn" class="btn btn-warning"
                    style="flex-grow: 1; background-color: #FFC107; font-size: 15pt; color: black; display: none;">
                중복제거
            </button>
            <button id="overwriteBtn" class="btn btn-danger"
                    style="flex-grow: 1; background-color: #DC3545; font-size: 15pt; color: white; display: none;">
                덮어쓰기
            </button>
            <button id="uploadBtn" class="btn btn-info"
                    style="flex-grow: 1; background-color: #1E6988; font-size: 15pt; color: white; display: none;">
                Save
            </button>
        </div>

        </div>
    </div>

<!-- 파일 업로드 성공 모달 -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">파일 등록 성공</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>파일 등록이 잘 되었습니다.</p>
                    <ul id="uploadedFileList"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/dragndrop.js' %}?v=1.01"> </script>
{% endblock %}