{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load custom_filters %}

<style>
    .file-link:hover {
        color: #7A297B;
        cursor: pointer;
        text-shadow: 0 0 1px #7A297B;
    }
</style>

<div style="display: flex; justify-content: center;">

    <div style="height: 100%; width: 150rem; background-color: #F7F7F7; border-radius: 1rem; margin: 3rem;">
        <div style="display: flex; justify-content: center; margin : 2rem;">
            <h1>Search for Logging Data</h1>
        </div>
        <div style="display: flex; justify-content: center;">
            <form id="searchForm" action="{% url 'registerapp:search' %}" method="get">

                 <select name="eADP">
                    <option value="">Select eADP</option>
                     <option value="eADP1" {% if request.GET.eADP == "eADP1" %}selected{% endif %}>eADP1</option>
                    <option value="eADP2" {% if request.GET.eADP == "eADP2" %}selected{% endif %}>eADP2</option>
                    <option value="eADP3" {% if request.GET.eADP == "eADP3" %}selected{% endif %}>eADP3</option>
                    <option value="eADP4" {% if request.GET.eADP == "eADP4" %}selected{% endif %}>eADP4</option>
                 </select>
                <select name="project_code">
                    <option value="">Select Project Code</option>
                   <option value="HK" {% if request.GET.project_code == "HK" %}selected{% endif %}>HK</option>
                    <option value="ORCA" {% if request.GET.project_code == "ORKA" %}selected{% endif %}>ORCA</option>
                    <option value="LG" {% if request.GET.project_code == "LG" %}selected{% endif %}>LG</option>
                </select>

                <select name="location">
                    <option value="">Select Location</option>
                    <option value="Ulsan" {% if request.GET.location == "Ulsan" %}selected{% endif %}>Ulsan</option>
                    <option value="Asan" {% if request.GET.location == "Asan" %}selected{% endif %}>Asan</option>
                    <option value="k-city" {% if request.GET.location == "k-city" %}selected{% endif %}>k-city</option>
                </select>

                <select name="sw_version">
                    <option value="">Select SW Version</option>
                     <option value="1.0" {% if request.GET.sw_version == "1.0" %}selected{% endif %}>1.0</option>
                    <option value="2.0" {% if request.GET.sw_version == "2.0" %}selected{% endif %}>2.0</option>
                    <option value="4.0" {% if request.GET.sw_version == "LG" %}selected{% endif %}>4.0</option>
                </select>

                <select name="weather">
                    <option value="">Select Weather</option>
                    <option value="Sunny" {% if request.GET.weather == "Sunny" %}selected{% endif %}>Sunny</option>
                    <option value="Rain" {% if request.GET.weather == "Rain" %}selected{% endif %}>Rain</option>
                    <option value="Snow" {% if request.GET.weather == "Snow" %}selected{% endif %}>Snow</option>
                </select>

                <select name="road_type">
                    <option value="">Select Road Type</option>
                    <option value="Concrete" {% if request.GET.road_type == "Concrete" %}selected{% endif %}>Concrete</option>
                    <option value="Gravel" {% if request.GET.road_type == "Gravel" %}selected{% endif %}>Gravel</option>
                    <option value="Dirt" {% if request.GET.road_type == "Dirt" %}selected{% endif %}>Dirt</option>
                </select>

                 <input type="text" name="username" value="{{ request.GET.username }}" placeholder="Username">


                <input type="submit" value="Search">

                <button class="file-link" type="button" onclick="resetSearchFormAndSubmit()" style="margin-left: 10px; border: none; background-color: transparent; cursor: pointer;">
                    <i class="fas fa-sync-alt"></i> Reset
                </button>


            </form>
        </div>
        <div style="margin: 1rem;">
            <table style="border-collapse: collapse; width: 100%; border: 2px solid #0D0D0D;">
                <thead style="text-align: center; width: 100%; border: 2px solid #0D0D0D; background-color: #DDE4E7">
                    <tr>
                        <th>ID</th>
                        <th>eADP</th>
                        <th>Project Code</th>
                        <th>Location</th>
                        <th>Simulation Type</th>
                        <th>Test Scenario ID</th>
                        <th>SW Version</th>
                        <th>Weather</th>
                        <th>Road Type</th>
                        <th>Sun Status</th>
                        <th>Temperature</th>
                        <th>Dtc Code</th>
                        <th>Error Component ID</th>
                        <th>File Name</th>
                        <th>File Save Path</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for scenario in scenarios %}
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.id }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.eADP }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.project_code }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.location }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.simulation_type }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.test_Scenario_ID }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.sw_version }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.weather }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.road_type }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.sun_status }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.temperature }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">
                            {% for dtc_code in scenario.dtc_code.all %}
                            {{ dtc_code.name }}
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">
                            {% for err_comp_id in scenario.err_comp_id.all %}
                            {{ err_comp_id.name }}
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td style="border: 1px solid #ddd; padding: 1px; text-align: center;">{{ scenario.file_name }}</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">
                            <a href="#"  class="file-link" onclick="redirectToLink('{{ scenario.file_name|extract_path_from_filename }}')">{{ scenario.file_name|extract_path_from_filename }}</a>
                        </td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ scenario.user }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="13">No scenarios found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/search.js' %}"></script>

{% endblock %}