
    .ADUS_nav_font{
        font-family: 'Open Sans', sans-serif;
    }

    .header_align{
        text-align: center;
        margin: 2rem 0;
    }

    .background{
        background-color: #F7F7F7;
    }
