{% load static %}

<style>
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #F2F2F2;
        color: black;
        font-size: 20px;
    }

    .header-left, .header-right {
        display: flex;
        align-items: center;
        gap: 20px;

    .logo-container img {
        height: 100px;
        width: auto;
    }

    .user-info {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 23px;
    }

    .menu-bar {
        display: flex;
        gap: 20px;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover { background-color: #F2F2F2; }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn, .nav-link:hover {
        font-weight: bold;
    }

    .nav-link, .dropbtn {
        background: none;
        border: none;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .logout-button {
        background: none;
        border: none;
        color: black;
        cursor: pointer;
        text-decoration: underline;
    }

</style>

<div class="header-container">
    <div class="header-left">
        <div class="logo-container">
            <img src="{% static 'logo/adus_logo.png' %}">
        </div>
        {% if user.is_authenticated %}
        <div class="menu-bar">
            <div class="dropdown">
                <button class="dropbtn">|vDMS|</button>
                <div class="dropdown-content">
                    <a href="{% url 'registerapp:register' %}">|Register|</a>
                    <a href="{% url 'registerapp:search' %}">|Search|</a>
                </div>
            </div>
            <a href="{% url 'registerapp:homepage' %}" class="nav-link">|vFMS|</a>
        </div>
        {% endif %}
    </div>
    <div class="header-right">
        {% if user.is_authenticated %}
        <div class="user-info">
            <i class="fas fa-user-circle"></i>
            <span>{{ request.user }}</span>
        </div>
        <form action="{% url 'accountapp:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
        {% endif %}
    </div>
</div>
